<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Your Dashboard</title>
</head>

<body>

    <div class='container'>
        <div class='row'>
            <div class='col-12'>
                <h1>This page will display your dashboard after you've been redirected back from the spotify authorization. Here you will links to your playlists, friends, and people you've matched with based on similar music tastes.</h1>
            </div>
        </div>
    </div>

</body>

</html>